.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -50px;
  margin-left: 50px;
  margin-top: 200px;


}
.description{
  display: flex;
  flex-direction: column;
  gap: -30px;
}

#label{
  background-color: #0056B3;
  padding: 5px;
  border-radius: 7px ;
  font-family: 'Salita';
  padding-top: 8px;
  width: fit-content;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  cursor: auto;
}

.intro h1{
  font-family: 'Salita';
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
}
.intro #sub-head-1{
  color: #795548;
}
.intro #sub-head-2{
  color: #9C27B0;
}
.btns{
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
  margin-top: 10px;
}

#intro-button{
  background-color: #9C27B0;
  font-family: 'Salita';
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
}
.intro #intro-button:hover{
  background-color: #24292E;
  border: 0.5px solid #9C27B0;
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 15px 5px #9C27B0;
}

.intro #intro-button-github{
  background-color: #24292E;
  font-family: 'Salita';
  padding: 8px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: 1px solid #9C27B0;
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition */

}
.intro p{
  font-family: 'Saira';
  font-size: 22px;
  text-overflow: clip;
}
.intro #intro-button-github:hover{
  background-color: #181C20;
  box-shadow: 0 0 15px 5px #9C27B0; /* Add glow effect */

}

#subtext {
text-align: justify; /* Justify text to both margins */
margin-top: 20px; /* Add top margin for spacing */
margin-bottom: 10px; /* Add bottom margin for spacing */
}

/* images */

.intro-images .circle-bg{
  position: relative;
  background-image:linear-gradient(45deg, #9C27B0, #FF3B30);
  mix-blend-mode: hard-light;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 200px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}
.intro-images .circle-bg:hover{
  box-shadow: 0 0 10px 3px #9C27B0; /* Add glow effect */
}
.circle-bg img {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 1px solid #9C27B0;
  opacity: 0; /* Start hidden */
  transform: translateY(50px); /* Start from below */
  animation: slideIn 0.8s ease forwards; /* Animation with forward fill mode */
}

.circle-bg img:nth-child(1) {
  top: 60px;
  right: 120px;
  border-radius: 10px;
  animation-delay: 0.2s; /* Delay for staggered effect */
}

.circle-bg img:nth-child(2) {
  bottom: 100px;
  right: 50px;
  border-radius: 5px;
  animation-delay: 0.4s;
}

.circle-bg img:nth-child(3) {
  bottom: 150px;
  left: 30px;
  border-radius: 50%;
  animation-delay: 0.6s;
}

/* Keyframes for sliding animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}





@media (prefers-color-scheme: light) {
  .intro #sub-head-1 {
    color: red; /* Adding !important to make it force the color change */
  }
}
@media (min-width: 768px) {
  .intro {
    margin-top: 100px;
  }
  .intro h1 {
    font-size: 64px;
  }
  .intro #intro-button {
    padding: 10px;
    font-size: 24px;
  }
  .intro #intro-button-github {
    padding: 12px;
    font-size: 24px;
  }
  .intro p {
    font-size: 24px;
  }
  .intro-images .circle-bg {
    margin-left: 50px;
  }
  .circle-bg img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1024px) {
    .intro{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 70px;
    }
  .intro h1 {
    font-size: 40px;
  }
  #label {
    background-color: #007d76;
    box-shadow: 0 0 15px 5px #00b5ad; /* Add glow effect */
  }
  .intro .description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .intro #subtext{
    font-size: 20px;
  }
  .intro .btns {
    font-size: 18px;
  }
  .intro #intro-button {
    font-size: small;
    padding: 2px;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .intro #intro-button-github {
    font-size: medium;
    padding: 2px;
  }
  .intro p {
    font-size: 26px;
  }
  .intro-images .circle-bg {
    margin-left: 20px;
    margin-right: 10px;
    width: 400px;
    height: 400px;
  }
  .circle-bg img {
    width: 150px;
    height: 150px;
  }
}