@media (prefers-color-scheme: light) {
  .navbar { 
    background-color: #FFFFFF; 
  }
  .navbar-texts {
    color: black; 
  }
}

@media (min-width: 1441px) {
  .navbar {
    max-width: 1440px;
  }
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, #000000, #2a1733);
  width: 100%;
  transition: top 0.3s ease; /* Add transition for smooth hide/show */
}

.navbar-hidden {
  top: -100px; /* Adjust this to hide the navbar off-screen */
}

.navbar-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Salita";
}
.navbar-texts #brand-logo {
  font-size: 36px;
  color: #9c27b0;
}
.navbar-texts #brand-logo:hover {
  color: #9c27b0;
  cursor: pointer;
  transition: ease-in-out;
}
.navbar-texts .navbar-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.navbar-texts .navbar-links a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}
.navbar-texts .navbar-links a:hover {
  background: linear-gradient(90deg, #ff6b6b, #f94d94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: ease-in-out;
}

.navbar-mode{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
  margin-left: 50px;
}